# We don't want files into repository
venv/
.venv/

__pycache__/
*.pyc

tf-plan
.terraform.lock.hcl

.terraform/*
.terraform/

terraform.tfvars

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/tf-plan
terraform/terraform.tfvars   # ← secrets, jamais commit
terraform/*.lock.hcl
